$secondary-color: #f25f3a;
$primary-color: #242d52;
$text-color: #9095a7;
$background-dark: #1d1e25;
$background-soft-red: #ffefeb;
$background-light: #fafafa;

.testimonials {
  text-align: center;
  padding: 2rem 1rem;
  overflow-x: hidden;

  &-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #242d52;
  }

  &-slider {
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
    padding: 1rem 0;
  }

  .testimonial-card {
    background: white;
    padding: 3rem 2rem 2rem; 
    margin: 2rem; 
    border-radius: 1rem;  
    max-width: 400px;
    height: 150px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    .testimonial-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      position: absolute;
      top: -20px; // Half outside the card
      left: 50%;
      transform: translateX(-50%);
      border: 4px solid white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .testimonial-content {
      margin-top: 2rem; // Space between avatar and content
    }

    .testimonial-name {
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: #242d52;
    }

    .testimonial-review {
      font-style: italic;
      color: #555;
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }

  .testimonials-button-wrapper {
    margin-top: 3rem;

    .cta-button {
      padding: 0.75rem 2rem;
      background-color: $secondary-color;
      color: white;
      border: none;
      border-radius: 999px;
      font-weight: 600;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }

  @media (max-width: 1024px) {
    .testimonial-card {
      flex: 0 0 calc(50% - 1rem);
    }
  }

  @media (max-width: 600px) {
    .testimonial-card {
      // flex: 0 0 100%;
      margin-bottom: 3rem; // More space on mobile
    }
    
    &-slider {
      flex-direction: column;
      align-items: center;
    }
  }
}